/input_processed_data_HCP/
/fsaverage_5_arrays_10x10x10/results/
/dash_app/assets/
/check_target_maps_10x10x10/results/
/16_arrays_1x10x10/results/
/5_arrays_10x10x10/results/
/check_target_maps_10x10x10/inner_sector.png
/check_target_maps_10x10x10/lower_sector.png
/check_target_maps_10x10x10/upper_sector.png
